<header>

   <!-- Optional Cover image 
   <img class="header__cover" src="/assets/img/cover.webp" alt="Cover image">
   -->

   <div id="header__title">
      <!-- Profile Picture (suggested) -->
      <img src="/assets/img/Giampiero.webp" alt="Profile image">

      <!-- Site title -->
      <h1>Giampiero Space</h1>
   </div>

   <nav>
      <a href="/">🏠 Home</a>
      <a href="/blog/">📄 Blog</a>
      <a href="/">Item</a>
      <a href="/blog/">Item</a>
      <a href="/">Item</a>
      <a href="/blog/">Item</a>
      <a href="/">Item</a>
      <a href="/blog/">Item</a>
      <a href="/">Item</a>
      <a href="/blog/">Item</a>
   </nav>
</header>